In [5]:
import pandas as pd
import numpy as np

In [6]:
df =  pd.read_csv("A:\\Aniket_Scidentai\\MLOPS\\nyc_taxi_duration\\data\\raw\\nyc_taxi.csv")

In [19]:
df['id'] = df['id'].str.replace('id', '', regex=False)
df['id'] = df['id'].astype(int)

In [21]:
df.nunique()

id                    1458644
vendor_id                   2
pickup_datetime       1380222
dropoff_datetime      1380377
passenger_count            10
pickup_longitude        23047
pickup_latitude         45245
dropoff_longitude       33821
dropoff_latitude        62519
store_and_fwd_flag          2
trip_duration            7417
dtype: int64

In [22]:
df.dtypes

id                      int32
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

In [23]:
# Convert to datetime
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'])

df["Trip_Time"] = (df['dropoff_datetime'] - df['pickup_datetime']).dt.total_seconds() / 60

# Get min and max duration
min_duration = ((df['dropoff_datetime'] - df['pickup_datetime']).dt.total_seconds() / 60).min()
max_duration = ((df['dropoff_datetime'] - df['pickup_datetime']).dt.total_seconds() / 60).max()

print(f"Minimum time taken: {min_duration:.2f} minutes")
print(f"Maximum time taken: {max_duration:.2f} minutes")

Minimum time taken: 0.02 minutes
Maximum time taken: 58771.37 minutes

In [24]:
def haversine_np(lat1, lon1, lat2, lon2):
    """
    Vectorized Haversine formula to compute distances between two sets of GPS coordinates.
    Returns distance in kilometers.
    """
    R = 6371  # Earth radius in kilometers

    # Convert degrees to radians
    lat1_rad, lon1_rad = np.radians(lat1), np.radians(lon1)
    lat2_rad, lon2_rad = np.radians(lat2), np.radians(lon2)

    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    a = np.sin(dlat / 2.0)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))

    return R * c

# Apply it to your dataframe
df['trip_distance_km'] = haversine_np(
    df['pickup_latitude'],
    df['pickup_longitude'],
    df['dropoff_latitude'],
    df['dropoff_longitude']
)

In [26]:
df.drop(columns={"pickup_datetime","dropoff_datetime","pickup_longitude","pickup_latitude","dropoff_longitude","dropoff_latitude"}, inplace=True)

In [29]:
df["store_and_fwd_flag"] = df["store_and_fwd_flag"].map({"N": 1, "Y": 2})

In [41]:
df[11000:11010]

,id,vendor_id,passenger_count,store_and_fwd_flag,trip_duration,Trip_Time,trip_distance_km
11000,950935,2,6,1,278,4.633333,1.237442
11001,147649,1,1,1,580,9.666667,1.428097
11002,2924355,2,6,1,818,13.633333,1.548223
11003,691025,2,1,1,600,10.000000,2.163305
11004,558910,2,1,1,1414,23.566667,10.874940
11005,506858,2,1,1,289,4.816667,1.572867
11006,1234195,2,1,1,212,3.533333,0.659290
11007,3894107,2,1,1,916,15.266667,6.699726
11008,1770794,2,1,1,884,14.733333,5.428386
11009,3013263,2,1,1,431,7.183333,2.129318

In [38]:
df.nunique()

id                    1458644
vendor_id                   2
passenger_count            10
store_and_fwd_flag          2
trip_duration            7417
Trip_Time                7417
trip_distance_km      1452288
dtype: int64