In [1]:
import pandas as pd

In [3]:
df =  pd.read_csv("A:\\Aniket_Scidentai\\MLOPS\\nyc_taxi_duration\\data\\raw\\sample_submission.csv")

In [6]:
df['id'] = df['id'].str.replace('id', '', regex=False)
df['id'] = df['id'].astype(int)

In [7]:
df.head(10)

        id  trip_duration
0  3004672            959
1  3505355            959
2  1217141            959
3  2150126            959
4  1598245            959
5   668992            959
6  1765014            959
7   898117            959
8  3905224            959
9  1543102            959